@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2"),
    url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: Volkhov;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Volkhov-Bold.woff2) format("woff2"),
    url(../fonts/Volkhov-Bold.woff) format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Poppins-Medium.woff2) format("woff2"),
    url(../fonts/Poppins-Medium.woff) format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2"),
    url(../fonts/Poppins-SemiBold.woff) format("woff");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Poppins-Bold.woff2) format("woff2"),
    url(../fonts/Poppins-Bold.woff) format("woff");
}
