:root {
  --color-bg-main: #fff;
  --color-bg-secondary: #fff1da;

  --color-typo-main: #14183e;
  --color-typo-secondary: #5e6282;

  --color-link: #ffffff;

  --color-accent-first: #df6951;
  --color-accent-second: #f0bb1f;
  --color-accent-third: #006380;
}
