.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
}

.nav__item {
  list-style: none;
  background-color: #a7a7a7;
  padding: 0.5rem;
}

header .nav__item_active {
  background-color: #747272;
}
